<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>welcome to the edit user Page </h1>
    <form action="/updateUser/<%=editUser._id%>" method="post">
        <label>Name:</label>
        <input type="text" name="name" value="<%= editUser.name %>" required>

        <label>Phone:</label>
        <input type="text" name="phone" value="<%= editUser.phone %>" required>

        <label>Email:</label>
        <input type="email" name="email" value="<%= editUser.email %>" required>

        <label>Address:</label>
        <textarea name="address" required><%= editUser.address %></textarea>

        <label>About:</label>
        <textarea name="about" required><%= editUser.about %></textarea>

        <label>Role:</label>
        <input type="text" name="role" value="<%= editUser.role %>" required>

        <button type="submit">Update</button>
    </form>
</body>

</html>